



.rasm1 {
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/%D0%91%D0%B5%D0%B7_%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_ru3HEnt-thumbnail-575x381-70.jpg);

}
.card-img-bg {
	height: 180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.rasm2  {
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/image_6_Jab8yMo-thumbnail-575x381-70.jpg);
}

.rasm3{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62209-thumbnail-575x381-70.jpg);
}


.rasm4 {
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62203-thumbnail-575x381-70.jpg);
}

.rasm5{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62198-thumbnail-575x381-70.jpg);
}

.rasm6{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62196-thumbnail-575x381-70.jpg);
}

.rasm7{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62185-thumbnail-575x381-70.jpg);
}

.rasm8{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62181-thumbnail-575x381-70.jpg);
}

.rasm9{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62177-thumbnail-575x381-70.jpg);
}

.rasm10 {
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62173-thumbnail-575x381-70.jpg);
}

.rasm11{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62147-thumbnail-575x381-70.jpg);
}

.rasm12{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62134-thumbnail-575x381-70.jpg);
}

.rasm13{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62117-thumbnail-575x381-70.jpg);
}

.rasm14{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62111-thumbnail-575x381-70.jpg);
}

.rasm15{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62110-thumbnail-575x381-70.jpg);
}

.rasm16{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62105-thumbnail-575x381-70.jpg);
}

.rasm17{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62341-thumbnail-575x381-70.jpg);
}

.rasm18{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62340-thumbnail-575x381-70.jpg);
}

.rasm19{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/20220613_195317-thumbnail-575x381-70.jpg);
}

.rasm20{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62335-thumbnail-575x381-70.jpg);
}
.rasm21{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62327-thumbnail-575x381-70.jpg);
}

.rasm22{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/DBF89792-268C-4B4B-B68A-B40234386CF3-thumbnail-575x381-70.jpeg);
}

.rasm23{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/IMG_20220627_083059-thumbnail-575x381-70.jpg);
}

.rasm24{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/6D5452A6-33A1-43C4-A7AA-E0881556560E-thumbnail-575x381-70.jpeg);
}

.rasm25{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62297-thumbnail-575x381-70.jpg);
}

.rasm26{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/20210708_195611_lvOLYbi-thumbnail-575x381-70.jpg);
}


.rasm27{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62269-thumbnail-575x381-70.jpg);
}

.rasm28{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/photo_2022-06-28_18-58-20-thumbnail-575x381-70.jpg);
}

.rasm29{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62249-thumbnail-575x381-70.jpg);
}

.rasm30{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62239-thumbnail-575x381-70.jpg);
}

.rasm31{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/IMG_20220623_072921-thumbnail-575x381-70.jpg);
}

.rasm32{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/IMG_20220628_150314_050-thumbnail-575x381-70.jpg);
}

.rasm33{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62232-thumbnail-575x381-70.jpg);
}

.rasm34{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62228-thumbnail-575x381-70.jpg);
}

.rasm35{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62224-thumbnail-575x381-70.jpg);
}

.rasm36{
	background-image: url(https://storage.tezelon.uz/media/__sized__/files/file_62220-thumbnail-575x381-70.jpg);
}







.hover {
	transition: all .3s ease;
}

.hover .card-img-bg {
	transition: all .3s ease;
}

.hover:hover .card-img-bg {
	transform: scale(1.03);
}

a{
	color: black!important;
	text-decoration: none;
}
.card{
	margin: 15px;
}
.owl-carousel {
	position: relative;
	width: 50%!important;
	margin-left: 400px;
}
.owl-prev {

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 	-50px;
}

.owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;

}
.owl-item .item{
	width: 40px;
}
.owl-item{
	width: 50px!important;
} 
.pic_1{
	background-color: #ff9e83;
	z-index: 1;
	padding: 3px;
}
.pic_2{
	background-color: #f7e233;
	z-index: 1;
}
.pic_3{
	background-color: #b6cafb;
	z-index: 1;
}
.pic_4{
	background-color: #ff9e83;
	z-index: 1;
}
.pic_5{
	background-color: #b6cafb;
	z-index: 1;
}
.pic_6{
	background-color: #b4e2e1;
	z-index: 1;
}
.pic_7{
	background-color: #ff9e83;
	z-index: 1;
}
.pic_8{
	background-color: #ff9e83;
	z-index: 1;
}.pic_9{
	background-color: #ff9e83;
	z-index: 1;
}
.pic_10{
	background-color: #b4e2e1;
	z-index: 1;
}
.pic_11{
	background-color: #b6cafb;
	z-index: 1;
}.pic_12{
	background-color: #ff9e83;
	z-index: 1;
}.pic_13{
	background-color: #f7e233;
	z-index: 1;
}



.container{
	margin-top: 70px;
}

.logo{
	width: 150px;
}
header{
	margin: 15px;
}
.img{
	margin-left: auto;
	margin-right: auto;
}

.kirish{
	margin-left: auto;
	padding: 7px;
}
.otish{
	padding: 7px;
	margin-right: auto;
}
a{
	text-decoration: none;
	color: #4a4a4a;
}
body{
  position: relative;
}
nav{
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 50;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 10px 0 10px 10px rgba(0, 0, 0, 0.04);
}
ul{
  align-items: center;
  padding: 12px;
  justify-content: center;
   display: flex;
   list-style: none;
}
.lina{
  padding: 12px;
  position: relative;
}
.lina:before{
  content: '';
  width: 0;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .4s ease;
  background: #593c7d;
  color: #593c7d;
  position: absolute;
}
.lina:hover:before{
  width: 100%;
}
.lina:hover .href{
	text-decoration: none;
}
select{
	width: 200px;
	border: 0;
	text-align: center;
}
.parent_22{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid silver;
	border-bottom-left-radius: 22.5px;
	border-top-left-radius: 22.5px;
	border-top-right-radius: 22.5px;
	border-bottom-right-radius: 22.5px;
	width: 834px;
}
.radius{
	border-bottom-left-radius: 22.5px;
	border-top-left-radius: 22.5px;
  overflow-x: scroll;
}
.btn_1{
	border-radius: 22.5px;
	width: 86px;
	border: 0;
	padding: 1px;
	margin-left: 16px;
	position: relative;
	z-index: 1;
	background-color: #593c7d;
}
.btn_1:before{
  content: '';
  width: 0;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .4s ease;
  background: #7a52aa;
  color: white;
  position: absolute;
  z-index: -1;
  border-radius: 22.5px;

}
.qidirish{
	z-index: 7;
	color: white;
}
.btn_1:hover:before{
  width: 100%;
}
.search{
	border: 0;
	width: 300px;
}

select:focus, .btn_1:focus, input:focus {
	outline: 0;
	border: 0;
	box-shadow: 0h;
}




.btn_2 {
      border: 0;
      outline: 0;
      background: #593c7d;
      color: white;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 40px;
      padding-right: 15px;
      border-radius: 50px;
      margin-left: 50px;
      position: relative;
      transition: all .3s ease;
    }
    span {
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #7a52aa;
      height: 100%;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transform: translateY(-50%);
      transition: all .3s ease;
    }

    i {
      transition: all .3s ease;
    }

    .btn_2:hover span {
      width: 100%;
    }

    .btn_2:hover i {
      transform: rotate(45deg);
    }
    .child_2{
    	display: flex;
    	align-items: center;
    }
    .input{
    	margin-left: 7px;
    }
    body{
    	font-family: 'Roboto', sans-serif;
    }

.parent{
  margin: auto;
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
}
.child{
	text-align: left;
	display: block;
	width: 500px;
}


main{
	padding: 15px;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
}
.number{
	display: flex;
	align-items: center;

}
.sarlovha{
	margin-bottom: 7px;
}
.class:hover {
    border:1px solid #593c7d;
}
.kod{
  margin-right: 15px;
}
.password{
	color: #4a4a4a;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: -0.3px;
    padding: 15px;
    width: 300px !important;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
}
.password:hover{
	border: 1px solid #593c7d;
}
main:hover{
	border: 1px solid #593c7d;
}
.about_1{
  color: #7a52aa;
  margin-top: 20px  ;
  font-size: 12px;
}
.btn_4{
  padding: 24px;
  width: 300px;
  margin-top: 20px;
  background-color: #7a52aa;
  color: white;
  border: 0;
  border-radius: 4px;
}
footer{
  height: 400px;
  width: 100%;
  background-color: black;
  z-index: -12;
}
.and{
  display: flex;
  color: silver;
  align-items: center;
  margin-top: 30px;
  padding-left: 15px;
}
.or p{
  width: 100px;
  border: 1ps olid silver;
}
.card_1{
  color: #593c7d;
  text-decoration: none;
    padding-top: 50px;
}
.elon{
  width: 150px;
  font-size: 15px;
  margin-top: 12px;
}
.kard{
  padding-top: 10px;
}
.btn_9{
  border-radius: 7px;
  padding: 9px;
  font-size: 13px;
  margin-top: 12px;
  width: 220px;
  border: 1px solid #593c7d;
  position: relative;
  color: #593c7d;
  z-index: 1;
  background-color: white;
  transition: all .3s ease;
}
.btn_9:hover{
  color: white;
}
.btn_9:before{
  content: '';
  width: 0;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .4s ease;
  background: #593c7d;
  color: white;
  position: absolute;
  z-index: -1;
  border-radius: 5px;

}
.btn_9:hover:before{
  width: 100%;
  border: 1px solid #593c7d;
  color: white;
}
.tez{
  background-color: white;
  width: 350px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-left-radius: 40%;
  height: 240px;
  margin-top: 300px;
  margin-left: 50px;
}
.tez_1{
  padding-top: 60px;
  padding-left: 40px;
}
.bola{
  padding-top: 50px;
}
.btn_3{
  display: none;
}
.ddd{
  display: none;
}






@media screen and (max-width: 768px){
  .parent_22{
    display: none;
  }
  .btn_2{
    margin-right: 200px;
       padding-top: 1px;
      padding-bottom: 1px;
  }
  .ddd{
    display: block;
    position: fixed;
  }
  .btn_3{
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #593c7d;
    border-radius: 5px;
    background-color: white;
    transition:all .3s ease;
  }
  .btn_3:hover{
    background-color: #593c7d;
  }
  .btn_3:hover .pusk{
    color: white;
  }
  .pusk{
    color: #593c7d;
  }
  #home{
    margin-top: -120px;
  }
  .child{
    padding-left: 50px;
  }
 
  .child__1{
    width: 100%;
    height: 70vh;
    margin-top: 50px;
  }
  .tez{
    margin-top: 170px;
    margin-left: 20px;
  }
  .child_7{
    display: flex;
    align-items: center;
    border: 1px solid #593c7d;
    margin: 5px;
    border-radius: 3px;

  }
  .input_1{
    padding-right: 4px;
    padding-left: 4px;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    color: #593c7d;
    
  }
  .btn_6{
  padding: 11px;
  width: 470px;
  color: white;
  position: relative;
  z-index: 1;
  background-color: #593c7d;
  margin: 5px;
  border: 0;
  border-radius: 3px;
  }
  .option_1{
    border: 1px solid #593c7d;
    margin: 5px;
    border-radius: 3px;
    color: #593c7d;
  }
  .radius_1{
    width: 100%;
  }
  .select_1{
    border: 1px solid #593c7d;
    margin: 5px;
    border-radius: 3px;
    color: #593c7d;
  }
  .ddd{
    z-index: 100; 
    }
    
body{
  position: relative;
}


#panel {
  height: 200px;
    width: 100%;
    position: fixed;
    z-index: 11111111;
    background: white;
    bottom: 0;
    display: none;
    transition: all .3s ease;
}
}

.active {
  display: block!important;
}

.parent106{
  width: 100%;
  background: #282b30;
}






  .parent107{
  justify-content: center;
  display: flex;
}
.child107{
  width: calc(100% / 3);
  height: 100%;
  margin: 10px;
}
.i, .ii, .iii, .iiii{
  font-size: 15px;
  margin-left: 20px;
}
.i{
  color: green;
}
.ii{
  color: red;
}
.iii{
  color: blue;
}
.iiii{
  color: yellow;
}
.p107{
  margin-left: 20px;
}
.h2107{
  color: white;
  font-size: 15px;
}
.u{
  color: transparent;
}
.p107{
  color: #777;
  font-size: 12px;
  transition: all .5s ease;
}

.p107:hover{
  padding-left: 5px;
  color: #d8494c;
  transition: all .5s ease;
}
.p108{
  margin-left: 600px;
  margin-right: 620px;
  color: #777;
  position: relative;
}
.p108:before{
  content: '';
  height: 1px;
  width: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: #777;
  transition: all .5s ease;
}
.p108:hover:before{
  width: 100%;
}
.parent109{
  display: flex;
}
.h3107{
  margin: 10px;
}
.h210{
  color: #ffb3b3;
  margin: 10px;
}
.h3107{
  color: #777;
}
.h3107:hover{
  color: #ffb3b3;
  transition: all .5s ease;
}
@media screen and (max-width: 768px) {
  .p108{
    margin-left: 190px;
    margin-right: 192px;
    padding-top: 70px;
  }
  .parent107{
    justify-content: center;
  }
  .child107{
    align-items: center;
    justify-content: center;
  }
  .h2107{
    font-size: 11px;
  }
  .p107{
    font-size: 10px;
  }
  .p108{
    margin-right: 190px;
  }
  .i, .ii, .iii, .iiii{
    font-size: 10px;
  }
  .h210, .h3107{
    font-size: 15px;
  }
  .p108{
    margin-right: 180px;
  }
  }
